@inject IArticleRepository articleRep
@{
    var articles = await articleRep.GetLastArticlesAsync();
}

    <div class="about-tre">

        <h3>اخرین مقالات</h3>
        @foreach (var item in articles)
        {

            <div class="col-md-12 panel panel-default abt-right">
                <h3 class="article-title panel-heading"><a href="/articles/show/@item.Title">@item.Title</a></h3>
                <div class="panel-body">
                    <div class="d-flex article-img-container">
                        <img src="@(item.Image==null?"~/images/article.png":"/Files/"+item.Image)" class="img-responsive" alt="">
                    </div>
                    <p>
                        @item.Description
                    </p>

                    <div class="a-btn">
                        <a href="/articles/show/@item.Title">
                            ادامه مطلب
                        </a>
                    </div>
                </div>
                <div class="panel-footer state-container">
                    <label class="state">
                        <i class="glyphicon glyphicon-eye-open"> </i>
                        @item.View
                    </label>
                    <label class="state date">
                        <i class="glyphicon glyphicon-time"> </i>
                        @item.PublishDate
                    </label>
                </div>
            </div>
        }
        <div class="clearfix"></div>
    </div>
