@model IEnumerable<TopArticleViewModel>
@{
    ViewData["Title"] = $" - جستجوی {ViewBag.Query}";
}

    <ol class="breadcrumb">
        <li><a href="/">خانه</a></li>
        <li><a href="/articles">مقالات</a></li>
        <li><a href="/articles">جستجوی '@ViewBag.Query'</a></li>
    </ol>

@foreach (var item in Model)
{

    <div class="about-two">
        <h3>
            @item.Title

            <ul class="blog-ic pull-left">
                <li><span><i class="glyphicon glyphicon-time"> </i>@item.PublishDate</span></li>
                <li><span><i class="glyphicon glyphicon-eye-open"> </i>@item.View</span></li>
                <li><span> زمان مطالعه (@item.TimeToRead دقیقه)</span></li>
                <li><span><i class="glyphicon glyphicon-list"> </i>@item.CategoryTitle</span></li>
            </ul>
        </h3>
        <div class="d-flex" id="article-img-container">
            <a href="/articles/show/@item.Title"><img src="@(item.Image==null?"~/images/article.png":"/Files/"+item.Image)" class="img-responsive article-img" alt="@item.Title"></a>
        </div>
        <p>
            @item.Description
        </p>
        <p>
            <div class="about-btn">
                <a href="/articles/show/@item.Title">
                    ادامه مطلب
                </a>
            </div>
    </div>
    <hr />
}

@if (!Model.Any())
{
    <div class="alert alert-warning">
        <p>متاسفانه نتیجه ای برای '@ViewBag.Query' پیدا نشد</p>
    </div>
}
<div class="d-flex">
    <partial name="_PaginationPartial" model="ViewBag.Pagination" />
</div>
