@model List<UserViewModel>
@{
    ViewData["Title"] = "کاربران";
}
@section Navbar{
    <a href="#" class="active">کاربران</a>
    <a asp-action="Create">افزودن</a>
}

<section class="margin-20">
    <h2 class="table-title animate__animated animate__fadeIn animate__delay-1s">کاربران</h2>
    <a asp-action="Create" class="create-link">
        افزودن کاربر
        <i class="fas fa-upload"></i>
    </a>
    <section class="table-container">

        <table class="table animate__animated animate__zoomIn animate__delay-1s ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>نام کاربری</th>
                    <th>تصویر</th>
                    <th>نقش ها</th>
                    <th>ایمیل</th>
                    <th>فعال/غیرفعال</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr data-row-id="@item.Id">
                        <td>@item.Row</td>
                        <td>@item.UserName</td>
                        <td>
                            @if (item.Image == null)
                            {
                                <img src="~/images/avatar.svg" width="50" />
                            }
                            else
                            {
                                <img src="@item.Image" width="50" />
                            }
                        </td>
                        <td>@item.Roles</td>
                        <td>@item.Email</td>
                        <td>
                            <input type="checkbox" @(item.IsActive ? "checked" : "") disabled />
                        </td>
                        <td class="d-flex">
                            <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">جزئیات</a>
                            <a class="btn btn-warning btn-sm margin-rl-10" asp-action="Edit" asp-route-id="@item.Id">ویرایش</a>
                            <a class="btn btn-danger btn-sm" onclick="removeAlert('@item.Id','@item.UserName')">حذف</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <partial name="_PaginationPartial" model="ViewBag.PaginationModel" />
</section>
@section Scripts{ 
<script>
    const removeAlert = (id,name) => {
        swal('حذف کاربر', `
                از حذف کاربر ${name} مطئن هستید ؟
در صورت حذف , همه اطلاعات مربوط به کاربر پاک میشوند !
پیشنهاد میکنم کاربر را غیرفعال کنید...
             `, {
                icon: "warning",
                 buttons: {
                        cancel: {
                            text: "نه",
                            value: false,
                            visible: true,
                            className: "",
                            closeModal: true,
                        },
                        confirm: {
                            text: "اره",
                            value: true,
                            className: 'swal-button--danger',
                            visible: true,
                            closeModal: true
                        }
                    }
        }).then(value => {
            if (value === true) {
                remove(id);
            }
        });
    }
    const remove = (id) => {
                fetch(`@(Url.Action("Delete","UsersManager"))/${id}`)
                    .then(r => r.json())
                    .then(d => {
                        if (d.success) {
                            
                            swal('حذف نقش', 'حذف کاربر با موفقیت انجام شد', 'success', {
                                button: 'باشه'
                            });
                            document.querySelector(`tr[data-row-id='${id}']`).remove();
                        }

                        
                        else
                            swal('حذف نقش', d.error, 'error', { button:"باشه" });
                    })
                    .catch(e => {
                        swal('حذف نقش', 'در هنگام درخواست مشکلی پیش امده!', 'error' ,"باشه");
                    });
            }
</script>
}
